.main{
    margin: 150px auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(230, 228, 228, 0.938);
    border-radius: 5px;

}

.main:last-child{
    align-self: flex-end;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}