.card{
    background-color: darkseagreen;
    box-sizing: border-box;
    padding: 15px;
}

.card img{
    width: 20px;
}

.card button{
    border: none;
    width: 100px;
    height: 30px;
    background-color: white;
    color: black;
    margin-right: 15px;
}